*{
  margin: 0;
  padding: 0;

}
body{
  background-color: black;
}
nav{
  width: 90%;
  height: 50px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo{
  height: 30px;
}
nav .button-container{
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}
nav .lang-select-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  column-gap: 5px;
  height: 100%;
  width: 100px;
  position: relative;
  border: 1px solid #5F5F5F;
  border-radius: 5px;
}
nav .button-container select{
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%,-50%);
  background-color: transparent;
  border: none;
  outline: none;
  appearance: none;
  -webkit-appearance:none;
  -moz-appearance: none;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}
nav .button-container .caretdown-container{
  margin-top: 5px;
}
nav .signin-button{
  height: 100%;
  padding: 7px 20px;
  margin: 10px;
  border: none;
  background-color: rgb(229, 9, 20);
  color: white;
  border-radius: 3px;
}
nav .lang-logo{
  height: 20px;
}
main .hero-section{
  position: relative;
  height: clamp(500px,600px,700px);
  width: 100%;
}
main .hero-background-image{
  position: absolute;
  z-index: -2;
  height:90%;
  width:100%;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  position: absolute;
  background-image: url('../assets/Images/netflix-bg.jpg');
  background-size: cover;
  background-position:center ;
}
main .hero-background-filter{
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.795);
  height: 100%;
  width: 100%;
}
